.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #10ad02;
  font-size: 1.25rem;
}

.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #1c8a06;
  border: 1px solid #0f8a06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #106403;
  border-color: #036405;
}
