.restaurants {
  color: #2ddf5c;
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  height: 200px;
  width: 100%;
  margin: 0;
}

.slide {
  width: 10px;
  height: 100px;
  margin-right: 0;
}

.slide img {
  width: 45%;
  height: 100%;
  border-radius: 100px;
  /* object-fit: contain; */
}
